# NAME = db.sqlite3
DJANGO_ENV = 
SECRET_KEY =
ACCESS_TOKEN= 
REFRESH_TOKEN = 
AES_TOKEN = 
TEMP_TOKEN = 
EMAIL_TOKEN = 
URL = http://localhost:5173

ALLOWED_HOSTS = localhost,192.168.1.11
CORS_ALLOWED_ORIGINS = http://localhost:5173
CSRF_TRUSTED_ORIGINS = http://localhost:5173
DB_HOST = 127.0.0.1
DB_NAME = 
DB_USER = postgres
DB_PASSWORD=123456
DB_PORT = 5432
DB_ENGINE=django.db.backends.postgresql
REDIS_URL=redis://127.0.0.1:6379/0




SUPPORT_EMAIL = 
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER = 
EMAIL_PASSWORD = 
RESEND_API_KEY =



LOG_TO_FILE = True
LOG_FILE_PATH = "logs/app.log"
LOG_LEVEL = "INFO"
LOG_FILE_NAME = "app.log"
LOG_DIR=


AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=None
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=private
AWS_QUERYSTRING_AUTH=True

INTERNAL_API_SECRET_ADMIN= "admin-secret-key"
INTERNAL_API_SECRET_MOD= "mod-secret-key"


PROMETHEUS_URL=http://localhost:9090