<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot De Passe Oublie</title>
</head>


<body style="display: flex; justify-content: center; align-items: center; font-family:Arial, Helvetica, sans-serif;">
    <div style="border: 0.2px solid black; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); padding: 10px;">
        <h2>Reinitialisation Mot de Passe</h2>
        <p>Salut</p>
        <p> Demande de réinitialisation du mot de passe<br />
            Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe</p>
            <p> Ce lien expirera dans 10 min</p>
        <a style="text-align: center; padding: 5px; font-size: medium;" href="{{ token_link }}">Reinitialisation</a>
        <p>Si vous ne l'avez pas demandé. S'il vous plaît, ignorez-le</p>
    </div>

</body>

</html>